<div>

    {{#each userPosts as |post|}}
    
    <div id="post-{{post.id}}">
        <h2>{{post.title}}</h2>
        <h2>{{post.date}}</h2>
    </div>
    {{ post.content }}
    {{ post.date }}
    {{ post.id }}

    
    <div>
        <form id="form-{{post.id}}" style="display: none">
            <h1>EDIT POST</h1>
            <h2>Title:</h2>
            <input
                type="text"
                id="post-{{post.id}}-title"
            />
            <h2>Content:</h2>
            <input 
                type="textarea"
                id="post-{{post.id}}-content"
            />
            <button>Submit</button>
            {{!-- on submit change the content --}}
        </form>
    </div>


    <button class="edit-button" data-id="{{post.id}}" data-form-id="form-{{post.id}}" data-edit-title="post-{{post.id}}-title" data-edit-content="post-{{post.id}}-content">Edit Post</button>
    {{!-- make form appear --}}
    <button class="delete-button" data-id="{{post.id}}" >Delete Post</button>
    {{!-- delete the post by id --}}
    {{/each}}

{{!-- NEW POST --}}

    <form class="post-form">
        <div>
            <h2>Title:</h2>
            <input
                type="text"
                id="post-title"
            />
            <h2>Content:</h2>
            <input 
                type="textarea"
                id="post-content"
            />
            <button>Submit</button>
        </div>
        <div>

        </div>
    </form>


    <script src="./js/dashboard.js"></script>
</div>