<div class="post box" style="padding:3%">

    {{#each blogPosts as |post|}}
        <div class="box" id="post-{{post.id}}">
            <h2>{{post.title}}</h2>
            
            <article class="media">
                <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                </figure>
                </div>
                <div class="media-content">
                <div class="content">
                    <p>
                    <strong>@{{post.user.username}}</strong> <small>{{post.date}}</small>
                    <br>
                    {{ post.content }}
                    </p>
                </div>
                </div>
            </article>
            <br>
            <button class="comment-button button is-primary" data-id="{{post.id}}" data-comment-id="comment-{{post.id}}" data-form-id="form-{{post.id}}" >Add Comment</button>
        </div>



    {{!-- <div id="post-{{post.id}}">
        <h2>{{post.title}}</h2>
        <h2>{{post.date}}</h2>
    </div>
    {{ post.content }}
    {{ post.date }}
    {{ post.id }}
    <h1>{{post.user.username}}</h1> --}}
    {{!-- <div class="box" style="margin-left:5%"> --}}
        {{#each post.comments as |comment|}}
            {{> comment-card}}
        {{/each}}
    {{!-- </div> --}}
  
    
    <div>
        <form id="form-{{post.id}}" style="display: none">
            
            <input type="text" id="comment-{{post.id}}">
            <button class="button is-primary">Submit</button>
            {{!-- on submit change the content --}}
        </form>
    </div>


    {{!-- <button class="comment-button button is-primary" data-id="{{post.id}}" data-comment-id="comment-{{post.id}}" data-form-id="form-{{post.id}}" >Add Comment</button> --}}
    {{!-- make form appear --}}
    
    {{!-- delete the post by id --}}
    {{!-- <form class="box">
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
            <input class="input" type="email" placeholder="e.g. Title of Post">
            </div>
        </div>

        <div class="field">
            <label class="label">Content</label>
            <div class="control">
            <textarea class="textarea" placeholder="e.g. Hello world"></textarea>
            </div>
        </div>

        <button class="button is-primary">Submit</button>
    </form> --}}



    {{/each}}
    <script src="./js/homepage.js"></script>
</div>